nav, form
{
	display: inline;
}

header
{
	text-align: center;
	padding: 0.5em;
	background-color: grey;
	border-radius: 0.4em;
}

nav a, form
{
	text-decoration: none;
	padding: 0.3em 0.5em;
	padding-right: 0.3em;
	
	border-left: 0.2em solid white;
	margin: 0em;
	color: white;
}