header
{
	text-align: center;
	padding: 0.5em;
	background-color: grey;
	border-radius: 0.5em;
}

header nav, header form
{
	display: inline;
}

header nav a, header form
{
	text-decoration: none;
	padding: 0.3em 0.5em;
	padding-right: 0.3em;
	border-left: 0.2em solid white;
	margin: 0em;
	color: white;
}

.listeArticle
{
}

.article
{
	display: inline-block;
	text-align: center;
	margin: 2em;
	margin-bottom: 2em;
}

.article img
{
	border: 1px solid black;
	display: block;
	margin-bottom: 0.5em;
}

.article a
{
	text-decoration: none;
	color: black;
}

h1
{
	color: white;
	background-color: grey;
	border-radius: 0.5em;
	text-align: center;
	
	padding: 0.1em;
}

h1+img+section
{
	display: inline-block;
	vertical-align: top;
}

table
{
	border-collapse: collapse;
	width: 100%;
}

table tr td
{
	border-top: 1px solid lightgrey;
}

table th
{
	font-variant: bold;
	text-align: left
}

form textarea
{
	width: 100%;
	display: block;
	margin-bottom: 0.5em;
}

form label
{
	display: block;
	margin-bottom: 0.5em;
}

form label input
{
	display: inline-block;
	width: 30em;
	position: absolute;
	left: 10em;
}